.menu{width:300px;}
li{list-style: none; text-align: center; border: 1px solid black; }
li > a{ font-size: 20px; width:100%; color:black; box-sizing: border-box;
     padding:10px; display: inline-block; background: rgb(121, 118, 118); text-decoration: none;}
.sub-menu{border:1px solid black; display:none;}    
.sub-menu a{display: block; padding:10px;}

